<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  Dear <%=@user.name%>,<br><br>

Your LineUp account has been created. Your login details is as follow:
<p>
email: <%=@user.email%>
</p>
<p>
password: <%=@password%>
</p>
<br>
Yours sincerely,<br>
LineUP

  </body>
</html>