<div id="clearance" class="sign-up">
<div class="col-lg-12">
<h1 class="page-header">New Employee</h1>
</div>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Submit", class: "btn btn-default"%>
    </div>


  <% end %>
</div>

