<div id="approveModal" class="modal fade" role="dialog">
  <div class="modal-dialog animated swing">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h3 >Approve this request?</h3>
      </div>
      <div class="modal-footer" style="background-color: black">
        <a href = "#" role="button" class="btn btn-default" >Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>