<div id="hrCalendar"></div>

<%=javascript_tag do%>
	$('#hrCalendar').fullCalendar({
		events: [
			<%Leafe.where(status:"Approved").each do |leave|%>
				{
					title: '<%=leave.user.name+" "+leave.leave_type+" Leave"%>',
					start: "<%=leave.start_date%>",
					end:	"<%=leave.end_date%>"
				},
			<%end%>
		]
	})
<%end%>