<div class="col-lg-12">
<h1 class="page-header animated fadeIn">Upcoming Leaves</h1>
</div>
<div class= "row">


<div class= "col-sm-12 col-md-12">
	

		<%=render "leaves_table"%>
		

<%= will_paginate @leaves,renderer: BootstrapPagination::Rails, previous_label: "Back", next_label: "More", inner_window: 1, outer_window: 0 %>
</div>

</div>




