$('#Modal .modal-body').prepend("<div class=\"alert alert-danger alert-dismissable\">"+
          "<a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">&times;</a>"+
          "<%=j flash[:danger] %>"+
        "</div>")