
<% if !signed_in? %>


<canvas id="top" class="background"></canvas>
<nav class="navbar navbar-inverse  navbar-fixed-top" >

<div class="conatiner-fluid">
     <!--page scroll button for -->
   <div class="navbar-header" role="navigation" style="height:80px;">
	   <a class="navbar-brand page-scroll" href="#top"><img src="/assets/lineuplogo.png"/></a>

   </div>	<!--page scroll button-->
   
   <div>
   <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right" style="margin:auto; padding-top: 20px; padding-right: 15px;">
        <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#myModal">SIGN IN</button>

      </ul>
	  </div> <!--ul-li-->
	 </div> <!--navbar collapse-->
  </div> <!--container-fluid-->
</nav>
<!--Navigation-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img class="img-circle" src="/assets/lineup-form.png">
			
      </div>

      <div class="modal-body" style="background-color: black;">
        <%= render 'sessions/form' %> 
      </div>
    
    </div>
    
  </div>
</div>


<div class="parallax" id= "parallax4">
    <div class="row">
      <div class="col-md-12">
        <div class="animated bounceInDown" style="margin-top:450px; margin-bottom: 250px;">
          
	        <h1 id="lineup-text"><strong><%="<LineUP/>"%></strong></h1>
          <h1 style="color:grey">_______________</h1>
          <p>LineUP is an online time-off manager.</p>
          <a class="btn-default page-scroll" href="#info-1">get started</a>
	        
        </div>
	    </div>      
	  </div>
</div>

<div class="parallax" id= "parallax5" style="margin:auto; padding-bottom: 50px;">
    <div id="info-1" class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">
        <br>
           
           <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            .
           </P>
           <img src="/assets/phone.png" , alt="..." />
           <h2 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
           from the employer's view,<br>
            <a class="btn-default page-scroll" href="#info-2">next feature</a>
           </h2>
           <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            .
           </p>
         
	    </div>  

	</div>
</div>


<div class="parallax" id= "parallax6" style="margin:auto; padding-bottom: 50px;">
    <div id="info-2" class="row">
        <div class="col-md-6">
        <br>
       
		    <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     .
		    </p>
        <img src="/assets/phone.png" , alt="..." />
		    <h2 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     from the employee's view,<br>
         <a class="btn-default page-scroll" href="#info-3">next feature</a>
		    </h2>
		    <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     .
		    </p>
		    
		    
	        

        </div>

        <div class="col-md-6">

	    </div>  

	</div>
</div>


<div class="parallax" id= "parallax2">
    <div class="row">
        <div id="info-3" class="col-md-12">
         	<img src="/assets/computer.png" />
  	      <h2 class="animated fadeIn heading">
  	       Leave it to LineUP.
  	      </h2>

	    </div>  
	</div>
</div>

<div class="parallax" id= "parallax3">
    <div class="row" style="padding:150px;">

    <div class="features">
        <div class="col-md-4 features">
        <br>
  		
  			<img src="/assets/email-icon.png" , alt="..." />
            <h1 class="feature-h1">Calendars</h1>
             <p>Track employees vacation, days off or remote work in LineUP shared calendars. Synchronize time off requests with Google Calendar.</p>
            
        </div>
       

        <div class="col-md-4 features">
        <br>
        	
        	<img src="/assets/email-icon.png" , alt="..." />
	        <h1 class="feature-h1">Approval</h1>
	        <p>LineUP automates all notifications and a leave request approval process. LineUP has a flexible multilevel approval process which can reflect your company structure.</p>
	        
	      
	    </div>  

        <div class="col-md-4 features">
        <br>
            
          <img src="/assets/email-icon.png" , alt="..." />
	        <h1 class="feature-h1">Absence</h1>
	        <p>In LineUP leave management software you can manage any kind of absence like PTO, sick leave, maternity leave, vacations, personal days and many other.</p>
	       

	    </div> 	 

	</div>

	<div class="row" style="padding-bottom: 50px;">

	    <div class="features">
	        <div class="col-md-4 features">
	        <br>
	  		
	  			    <img src="/assets/email-icon.png" , alt="..." />
	            <h1 class="feature-h1">Attach</h1>
	             <p>Attach medical certificates and other required documents to absence requests. Managers and HR department have immediate access to all data in one place.</p>
	            
	        </div>

	        <div class="col-md-4 features">
	        <br>
	        	
	        	<img src="/assets/email-icon.png" , alt="..." />
		       <h1 class="feature-h1"> Converse</h1>
		        <p>Comment your absence requests in LineUP. You can discuss your time-off directly in LineUP and be notified via e-mail.</p>
		        
		      
		    </div>  

	        <div class="col-md-4 features">
	        <br>
	            
	           <img src="/assets/email-icon.png" , alt="..." />
		        <h1 class="feature-h1"> Remote</h1>
		        <p>Let your employees work remotely. You can use LineUP to manage a remote workforce. LineUP helps you to plan, track and communicate the remote work within your company.</p>
		       

		    </div> 	 

		</div>

</div>

<div class="parallax" id= "parallax7" style="margin:auto; padding: 150px;">
<br>

	<img src="/assets/octo.png" , alt="..." />

	<h1 style="margin:auto; text-align: center; padding-top: 50px;">
	
	</h1>
	<div class="view view-first">  
	       
	</div> 
	 <a class="btn-default page-scroll" href="#top">back to top</a>

</div>


<footer id= "footer" style="font-size: 20px; text-align: left">
    <div class="row">
      <div class="col-md-9">
        <div class="row first-row">
          <div class="col-md-4"><strong><h1>Contacts:</h1></strong><br></div>

          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
        </div>

        <div class="row second-row">
          <div class="col-md-4">
          <ul style="font-size: 15px; color:black; text-align: left">
	          <li><i class="fa fa-phone footer-fa" ></i><p>010-12345678</p><br></li>
	          <li><i class="fa fa-envelope-open-o footer-fa" ></i><p>info@lineup.com</p><br></li>
	          <li><i class="fa fa-address-book footer-fa"></i><p>5-A, Jalan Coding, Taman GG 51200 KL</p></li>
	          <br><br><br><br><br><br>
	        </ul>    
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
         
        </div>
      </div>
     <div class="row">
      <div class="footer-social-icons">
         
          <ul class="social-icons">
              <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-github"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div> 
     </div> 

    </div>
</footer>

<%end%>
