
<% if !signed_in? %>

<nav class="navbar navbar-inverse  navbar-fixed-top" >

<div class="conatiner-fluid">
     <!--page scroll button for -->
   <div class="navbar-header" role="navigation" style="height:80px;">
	   <a class="navbar-brand page-scroll" href="#top" style="margin-top: 12px;margin-left: 5px;padding: 0px 0px 0px 0px;"><img src="/assets/lineuplogo.png" style="text-align: center"/></a>

   </div>	<!--page scroll button-->
   
   <div>
   <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right" style="margin:auto; padding-top: 20px; padding-right: 15px;">
        <button type="button" class="btn btn-main btn-small" data-toggle="modal" data-target="#mySignIn">SIGN IN</button>

      </ul>
	  </div> <!--ul-li-->
	 </div> <!--navbar collapse-->
  </div> <!--container-fluid-->
</nav>
<!--Navigation-->

<!-- Modal -->
<div class="modal fade" id="mySignIn" role="dialog">
  <div class="modal-dialog animated fadeIn">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img class="img-circle animated zoomIn" src="/assets/l.png">
			
      </div>

      <div class="modal-body" style="padding:80px;background-color: black;">
        <%= render 'sessions/form' %> 
      </div>
    
    </div>
    
  </div>
</div>


<div id="top" class="parallax" id= "parallax4">

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="animated bounceInDown" style="margin:230px 100px 350px 100px">
          
	        <h1 id="lineup-text"><strong>LineUP</strong></h1>
          <h1 style="color:grey;">________________________</h1>
          <p style="color:black;font-size: 16px; padding-top:10px; ">LineUP is an online leave request management system for web and mobile iOS app</p>

        </div>
      
	    </div>      
	  </div>
    <div id="particle"></div>
</div>


<div class="parallax" id= "parallax5" style="margin:auto; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-6 col-lg-6">
      
        </div>

        <div class="col-md-6 col-lg-6 view" style="padding: 200px;">
        <br><br>

           <img src="/assets/screentwo.png" , alt="..." />
           <h2 class="animated fadeIn" style="margin:auto;text-align: center; padding-top:30px;">
           Profile View<br><br>
           </h2>

	    </div>  

	</div>
</div>


<div class="parallax" id= "parallax6" style="margin:auto; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-6 col-lg-6 view" style="padding: 200px;">
        <br><br>

        <img src="/assets/screenone" , alt="..." />
		    <h2 class="animated fadeIn" style="margin:auto; text-align: center;padding-top:30px;">
		     Calendar View<br><br>
		    </h2>

        </div>

        <div class="col-md-6 col-lg-6 ">
          
	      </div>  

	</div>
</div>


<div class="parallax" id= "parallax2">
    <div class="row">
        <div class="col-md-12" style="padding-top:150px;">
        
          <br><br><br>
          <h2 class="animated fadeIn heading" style="font-family: 'Yesteryear', cursive; text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);">
           features
          </h2>
      </div>  
  </div>
</div>

<div class="parallax" id= "parallax3">
    <div class="row" style="padding:150px 100px 0px 100px;">

    <div class="features">
        <div class="col-md-6 features">
        <br>
  		
  			<img src="/assets/animaticons/pie-chart/animat-piechart-color.gif" />
            <h1 class="feature-h1"><strong>Calendars</strong></h1><br>
             <p>Track employees vacation, days off or remote work in LineUP shared calendars. Synchronize time off requests with Google Calendar.</p>
            
        </div>
       

        <div class="col-md-6 features">
        <br>
        	
        	<img src="/assets/animaticons/customize/animat-customize-color.gif" />
	        <h1 class="feature-h1"><strong>Approval</strong></h1><br>
	        <p>LineUP automates all leave request approval process. LineUP has a flexible multilevel approval process which can reflect your company structure.</p>
	       
	    </div>  
</div>
	</div>

    <div class="row" style="padding:0px 100px 150px 100px;">

      <div class="features">
          <div class="col-md-6 features">
          <br>
        
          <img src="/assets/animaticons/search/animat-search-color.gif" />
              <h1 class="feature-h1"><strong>Absence</strong></h1><br>
               <p>In LineUP leave management software you can manage any kind of absence like PTO, sick leave, maternity leave, vacations, personal days and many other.</p>
              
          </div>
         

          <div class="col-md-6 features">
          <br>
            
            <img src="/assets/animaticons/responsive/animat-responsive-color.gif" />
            <h1 class="feature-h1"><strong>Attachment</strong></h1><br>
            <p>LineUP supports attachable documents on leave submission. Attach medical certificates and other required documents to absence requests. Managers and HR department have immediate access to all data in one place.</p>
            
          
        </div>   

      </div>
    </div> 


    <div class="row" style="padding:0px 100px 150px 100px;">

      <div class="features">
          <div class="col-md-6 features">
          <br>
        
          <img src="/assets/animaticons/lightbulb/animat-lightbulb-color.gif" />
              <h1 class="feature-h1"><strong>Request History</strong></h1><br>
               <p>Keep the entire history of leave requests, calculations and other employee events in one secure and always available place. You do not need to print documents anymore.</p>
              
          </div>
         

          <div class="col-md-6 features">
          <br>
            
            <img src="/assets/animaticons/pencil/animat-pencil-color.gif" />
            <h1 class="feature-h1"><strong>Statistics</strong></h1><br>
            <p>LineUP allows you to track absentees of the month, with graphs and calculations. The user friendly design makes it easier to keep track of your employees.</p>
            
          
        </div>   

      </div>
    </div>


</div>

<div class="parallax" id= "parallax7" style="margin:auto; padding: 150px;">
<br>

  <div class="row">
      <div id="info-3" class="col-md-12" style="padding:100px;">
      
        <img src="/assets/data.gif" , alt="..." />
        <br><br><br>
        <h2 class="animated fadeIn heading" style=" font-family: 'Yesteryear', cursive; text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);">
         Leave it to LineUP!
        </h2>
        </div>  
  </div>

</div>

 <div class="outer">
                         
         <div class="ontop">
             <p class="team-text">
             <footer id= "footer" style="text-align: left; margin-left: 100px; margin-top: 100px;">
                 <div class="row">
                   <div class="col-md-9">
                     <div class="row first-row">
                       <div class="col-md-4"><strong><h1 style="font-family: 'Pacifico', cursive;">Contacts:</h1></strong><br></div>

                       <div class="col-md-4"></div>

                       <div class="col-md-4"></div>
                     </div>

                     <div class="row second-row">
                       <div class="col-md-4">
                       <ul style="font-size: 18px; color:black; margin:auto;text-align: left">
                        <li><i class="fa fa-phone footer-fa" ></i><p>010-12345678</p><br></li>
                        <li><i class="fa fa-envelope-open-o footer-fa" ></i><p>info@lineup.com</p><br></li>
                        <li><i class="fa fa-address-book footer-fa"></i><p>5-A, Jalan Coding, Taman GG 51200 KL</p></li>
                        <br><br><br><br><br><br>
                      </ul>    
                       </div></p>
                       <div class="col-md-4"></div>

                       <div class="col-md-4"></div>
                      
                     </div>
                   </div>
             
         </div>
 </div>
 <canvas class="background"></canvas>

    </div>
</footer>

<%end%>
