<% if !signed_in? %>
<div class="parallax" id= "parallax2">
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">
	      <h1 class="animated fadeIn" style="margin:auto; font-family: Courier, cursive; text-align: center; padding-top: 200px;">
	       Leave Management System
	      </h1>
	      <p class="animated slideInRight">experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>


	    </div>  

	</div>
</div>

<div class="parallax" id= "parallax3">
    <div class="row">

    <div class="features">
        <div class="col-md-4 features">
        <br>
  			<img src="http://www.pngmart.com/files/4/Cute-Octopus-PNG-Photo.png" , alt="..." />
  			<img src="/assets/email-icon.png" , alt="..." />
            <h1 style="margin:auto; font-family: Courier, cursive;font-size: 20px; text-align: center;">FAST</h1>
             <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
            
        </div>
        </div>

        <div class="col-md-4 features">
        <br>
        	<img src="http://www.pngmart.com/files/4/Cute-Octopus-PNG-Photo.png" , alt="..." />
        	<img src="/assets/email-icon.png" , alt="..." />
	        <h1 style="margin:auto;; font-family: Courier, cursive;font-size: 20px;   text-align: center;"> CHEAP</h1>
	        <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
	        
	      
	    </div>  

        <div class="col-md-4 features">
        <br>
            <img src="http://www.pngmart.com/files/4/Cute-Octopus-PNG-Photo.png" , alt="..." />
            <img src="/assets/email-icon.png" , alt="..." />
	        <h1 style="margin:auto; font-family: Courier, cursive;font-size: 20px;   text-align: center;"> EFFECIENT</h1>
	        <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
	       

	    </div> 	 

	</div>

</div>

<div class="parallax" id= "parallax4">
    <div class="row">
        <div class="col-md-6">
	        <h1 class="animated fadeIn" style="margin:auto; font-family: Courier, cursive; text-align: center; padding-top: 200px;">
	         Leave Management System
	        </h1>
	        <p class="animated slideInRight">experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>

        </div>

        <div class="col-md-6">

	    </div>  

	</div>
	
</div>

<div class="parallax" id= "parallax5">
<br>
	<img src="http://www.pngmart.com/files/4/Cute-Octopus-PNG-Photo.png" , alt="..." />
	<h1 style="margin:auto; font-family: Courier, cursive; text-align: center; padding-top: 50px;">
	 MEET THE TEAM
	</h1>
	<a class="btn btn-default btn-outline">hover</a>

</div>


<footer style="background-color: black; padding: 30px; padding-bottom: 50px; color: grey; font-size: 20px;">
  <div class="container" >
    <div class="row">
      <div class="col-md-9">
        <div class="row first-row">
          <div class="col-md-4"><strong>Contacts:</strong></div>

          <div class="col-md-4"><strong>Features:</strong></div>

          <div class="col-md-4"><strong>Products:</strong></div>
        </div>

        <div class="row second-row">
          <div class="col-md-4">Introduction</div>
          <div class="col-md-4">Leave Management</div>

          <div class="col-md-4">Pricing</div>
          <div class="col-md-4">Terms of USe</div>
          <div class="col-md-4">Private Policy</div>

          <div class="col-md-4">API</div>
          <div class="col-md-4">Rails</div>
        </div>
      </div>

      <div class="col-md-3 image-column">
        <img src="http://www.pngmart.com/files/4/Cute-Octopus-PNG-Photo.png" , alt="..." />
      </div>

      <div class="footer-social-icons">
         
          <ul class="social-icons">
              <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div> 


    </div>
  </div>
</footer>
<%else%>
<p>HELLO THERE</p>
<%end%>
