<% if !signed_in? %>
<nav class="navbar navbar-inverse  navbar-fixed-top" >

<div class="conatiner-fluid">
     <!--page scroll button for -->
   <div class="navbar-header" role="navigation" style="height:80px;">
	   <a class="navbar-brand" href="/"><img src="/assets/lineuplogo.png" , alt="lineup" /></a>
   </div>	<!--page scroll button-->
   
   <div>
   <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right" style="margin:auto; padding-top: 20px; padding-right: 15px;">
        <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#myModal">SIGN IN</button>

      </ul>
	  </div> <!--ul-li-->
	 </div> <!--navbar collapse-->
  </div> <!--container-fluid-->
</nav>
<!--Navigation-->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
			
      </div>

      <div class="modal-body">
        <%= render 'sessions/form' %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>


<div id="top" class="parallax" id= "parallax4">
    <div class="row">
        <div class="col-md-4">
		    	     
        </div>

        <div class="col-md-4">
        <div class="animated bounce" style="margin:300px;">
	        <h1 style="color: #222;text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);"><strong>LINEUP</strong></h1>
	        <a class="btn page-scroll" href="#info-1">get started</a>
        </div>
			
	    </div>  

        <div class="col-md-4">

	    </div> 

	</div>
	
</div>

<div class="parallax" id= "parallax5" style="margin:auto; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">
           <h1 id="info-1" class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            Communication
           </h1>
           <h1 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            Makes life easier
           </h1>
           <h1 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            Freeee
           </h1>
	    </div>  

	</div>
</div>


<div class="parallax" id= "parallax6" style="margin:auto; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-6">
		    <h1 id="info-2" class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     Managabable
		    </h1>
		    <h1 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     On-the-go
		    </h1>
		    <h1 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     100% Web Based
		    </h1>
		    
	        

        </div>

        <div class="col-md-6">

	    </div>  

	</div>
</div>


<div class="parallax" id= "parallax2">
    <div class="row">
        <div class="col-md-6">
       		 <img src="/assets/computer.png" />
        </div>

        <div class="col-md-6">
	      <h1 id="info-3" class="animated fadeIn" style="margin:auto; text-align: center; padding-top: 200px;">
	       Leave Management System
	      </h1>
	      <p class="animated slideInRight">experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>

	    </div>  

	</div>
</div>

<div class="parallax" id= "parallax3">
    <div class="row" style="padding-bottom: 50px;">

    <div class="features">
        <div class="col-md-4 features">
        <br>
  		
  			<img src="/assets/email-icon.png" , alt="..." />
            <h1 style="margin:auto; font-family: Courier, cursive;font-size: 20px; text-align: center;">FAST</h1>
             <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
            
        </div>
        </div>

        <div class="col-md-4 features">
        <br>
        	
        	<img src="/assets/email-icon.png" , alt="..." />
	        <h1 style="margin:auto;; font-family: Courier, cursive;font-size: 20px;   text-align: center;"> CHEAP</h1>
	        <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
	        
	      
	    </div>  

        <div class="col-md-4 features">
        <br>
            
            <img src="/assets/email-icon.png" , alt="..." />
	        <h1 style="margin:auto; font-family: Courier, cursive;font-size: 20px;   text-align: center;"> EFFECIENT</h1>
	        <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
	       

	    </div> 	 

	</div>

	    <div class="row" style="padding-bottom: 50px;">

	    <div class="features">
	        <div class="col-md-4 features">
	        <br>
	  		
	  			<img src="/assets/email-icon.png" , alt="..." />
	            <h1 style="margin:auto; font-family: Courier, cursive;font-size: 20px; text-align: center;">FAST</h1>
	             <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
	            
	        </div>
	        </div>

	        <div class="col-md-4 features">
	        <br>
	        	
	        	<img src="/assets/email-icon.png" , alt="..." />
		        <h1 style="margin:auto;; font-family: Courier, cursive;font-size: 20px;   text-align: center;"> CHEAP</h1>
		        <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
		        
		      
		    </div>  

	        <div class="col-md-4 features">
	        <br>
	            
	            <img src="/assets/email-icon.png" , alt="..." />
		        <h1 style="margin:auto; font-size: 20px;   text-align: center;"> EFFECIENT</h1>
		        <p>experience working with different technologies allows carrying out challenging projects that fulfil the clients vision, requirements and expectations regarding the specific IT solution. Teams are formed for each of the projects that depending on the situation consist of software engineers, software architects, business and system analysts and a project manager.</p>
		       

		    </div> 	 

		</div>

</div>

<div class="parallax" id= "parallax7" style="margin:auto; padding-bottom: 50px;">
<br>

	<img src="/assets/octo.png" , alt="..." />

	<h1 style="margin:auto; text-align: center; padding-top: 50px;">
	
	</h1>
	<div class="view view-first">  
	       
	</div> 
	 <a class="btn page-scroll" href="#top">back to top</a>

</div>


<footer style="background-color: black; padding: 30px; padding-bottom: 50px; color: grey; font-size: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row first-row">
          <div class="col-md-4"><strong><h1>Contacts:</h1></strong></div>

          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
        </div>

        <div class="row second-row">
          <div class="col-md-4">
          <div style="font-size: 15px;">
	          <p>010-12345678</p>
	          <div><i class="fa fa-user-circle fa-2x"></i><p>info@lineup.com</p></div>
	          <i class="fa fa-user-circle fa-2x"></i><p>5-A, Jalan Coding 4/4, Taman Kenot</p>
	          <p>52012, Kuala Lumpur</p>
	          <br><br><br><br><br><br>
	      </div>    
          </div>
         

        </div>
      </div>

      <div class="col-md-3 image-column">
        <img src="/assets/lineup.png" , alt="..." />
      </div>

      <div class="footer-social-icons">
         
          <ul class="social-icons">
              <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div> 


    </div>
  </div>
</footer>
<%end%>
