
<% if !signed_in? %>

<nav class="navbar navbar-inverse  navbar-fixed-top" >

<div class="conatiner-fluid">
     <!--page scroll button for -->
   <div class="navbar-header" role="navigation" style="height:80px;">
	   <a class="navbar-brand page-scroll" href="#top"><img src="/assets/lineuplogo.png"/></a>

   </div>	<!--page scroll button-->
   
   <div>
   <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right" style="margin:auto; padding-top: 20px; padding-right: 15px;">
        <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#mySignIn">SIGN IN</button>

      </ul>
	  </div> <!--ul-li-->
	 </div> <!--navbar collapse-->
  </div> <!--container-fluid-->
</nav>
<!--Navigation-->

<!-- Modal -->
<div class="modal fade" id="mySignIn" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" align="center">
        <img class="img-circle" src="/assets/lineup-form.png">
			
      </div>

      <div class="modal-body" style="padding:100px;background-color: black;">
        <%= render 'sessions/form' %> 
      </div>
    
    </div>
    
  </div>
</div>


<div id="top" class="parallax" id= "parallax4">

    <div class="row">
      <div class="col-md-12">
        <div class="animated bounceInDown" style="margin: 230px;">
          
	        <h1 id="lineup-text"><strong><%="<LineUP/>"%></strong></h1>
          <h1 style="color:grey">_______________</h1>
          <p>LineUP is an online time-off manager.</p>
          <a class="btn-default page-scroll" href="#info-1">get started</a>

        </div>
      
	    </div>      
	  </div>
    <div id="overylay"><div id="particle"></div></div>
</div>


<div class="parallax" id= "parallax5" style="margin:auto; padding-bottom: 50px;">
    <div id="info-1" class="row">
        <div class="col-md-6">
          
        </div>

        <div class="col-md-6">
        <br>
           
           <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            .
           </P>
           <img src="/assets/screentwo.png" , alt="..." />
           <h2 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
           dashboard view<br>
            <a class="btn-default page-scroll" href="#info-2">what's next?</a>
           </h2>
           <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
            .
           </p>
         
	    </div>  

	</div>
</div>


<div class="parallax" id= "parallax6" style="margin:auto; padding-bottom: 50px;">
    <div id="info-2" class="row">
        <div class="col-md-6">
        <br>
       
		    <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     .
		    </p>

        <img src="/assets/screenone" , alt="..." />
		    <h2 class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     calendar view<br>
         <a class="btn-default page-scroll" href="#info-3"> what's next?</a>
		    </h2>
		    <p class="animated fadeIn" style="margin:auto; text-align: center; padding-bottom: 200px;">
		     .
		    </p>
		    
		    
	        

        </div>

        <div class="col-md-6">
          
	      </div>  

	</div>
</div>


<div class="parallax" id= "parallax2">
    <div class="row">
        <div id="info-3" class="col-md-12" style="padding-top:150px;">
        
          <br><br><br>
          <h2 class="animated fadeIn heading" style=" font-family: 'Yesteryear', cursive; text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);">
           features
          </h2>
      </div>  
  </div>
</div>

<div class="parallax" id= "parallax3">
    <div class="row" style="padding:150px;">

    <div class="features">
        <div class="col-md-6 features">
        <br>
  		
  			<img src="/assets/animaticons/pie-chart/animat-piechart-color.gif" />
            <h1 class="feature-h1">Calendars</h1>
             <p>Track employees vacation, days off or remote work in LineUP shared calendars. Synchronize time off requests with Google Calendar.</p>
            
        </div>
       

        <div class="col-md-6 features">
        <br>
        	
        	<img src="/assets/animaticons/customize/animat-customize-color.gif" />
	        <h1 class="feature-h1">Approval</h1>
	        <p>LineUP automates all notifications and a leave request approval process. LineUP has a flexible multilevel approval process which can reflect your company structure.</p>
	       
	    </div>  
</div>
	</div>

    <div class="row" style="padding:150px;">

      <div class="features">
          <div class="col-md-6 features">
          <br>
        
          <img src="/assets/animaticons/search/animat-search-color.gif" />
              <h1 class="feature-h1">Absence</h1>
               <p>In LineUP leave management software you can manage any kind of absence like PTO, sick leave, maternity leave, vacations, personal days and many other.</p>
              
          </div>
         

          <div class="col-md-6 features">
          <br>
            
            <img src="/assets/animaticons/responsive/animat-responsive-color.gif" />
            <h1 class="feature-h1">Converse</h1>
            <p>Comment your absence requests in LineUP. You can discuss your time-off directly in LineUP and be notified via e-mail.</p>
            
          
        </div>   

      </div>
    </div> 


</div>

<div class="parallax" id= "parallax7" style="margin:auto; padding: 150px;">
<br>

  <div class="row">
      <div id="info-3" class="col-md-12" style="padding:100px;">
      
        <img src="/assets/data.gif" , alt="..." />
        <br><br><br>
        <h2 class="animated fadeIn heading" style=" font-family: 'Yesteryear', cursive; text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);">
         Leave it to LineUP
        </h2>
        </div>  
  </div>

	

</div>


<footer id= "footer" style="font-size: 20px; text-align: left; margin-left: 100px;">
    <div class="row">
      <div class="col-md-9">
        <div class="row first-row">
          <div class="col-md-4"><strong><h1>Contacts:</h1></strong><br></div>

          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
        </div>

        <div class="row second-row">
          <div class="col-md-4">
          <ul style="font-size: 15px; color:black; text-align: left">
	          <li><i class="fa fa-phone footer-fa" ></i><p>010-12345678</p><br></li>
	          <li><i class="fa fa-envelope-open-o footer-fa" ></i><p>info@lineup.com</p><br></li>
	          <li><i class="fa fa-address-book footer-fa"></i><p>5-A, Jalan Coding, Taman GG 51200 KL</p></li>
	          <br><br><br><br><br><br>
	        </ul>    
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
         
        </div>
      </div>
    
      <div class="footer-social-icons">
         
          <ul class="social-icons">
              <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div> 
 
 <canvas class="background"></canvas>

    </div>
</footer>

<%end%>
