@import "jquery-ui.min";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fullcalendar";
@import "font-awesome";
@import "pages";
@import "users";
@import "leaves";
@import "profile";
@import "overlay";

.background {
  z-index:-10;
}


body {
  min-height:1000px;
	overflow-x: hidden;	
	font-family: 'Muli', sans-serif;
	background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
  background-repeat: no-repeat;
  z-index:-8;
}

.dashboard-button {
    height: 50px;
    padding: 15px;
}

.page-header{
  font-family: 'Cabin', sans-serif;
  font-size:40px;
	padding-bottom:9px;
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
}

.main-image {
	width:50px;
	height:50px;
}

.wrapper {
	padding: 0 50px;
	min-height: 1000px;
	margin: 20px 10px 10px 100px;
}

@media screen and (min-width: 768px) {
    .wrapper {
    	position:inherit;
    	margin: 20px 0 0 100px;
    	padding: 0 100px;
	}
}

.action{
	border:1px solid #eee;
    padding: 10px;
    text-align: center;
    height: 60px;
}

.btn-default,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
    background-color: #ADD8E6;
    border-color: white;
    color:white;
}

.btn-default:hover {
	background-color: orange;
	border-color: white;
	color:white;
	
}

.btn-main {
   background-color: transparent;
    border-color: black;
    color:black;
    font-family:Arial;
}

.btn-main:hover {
   background-color: orange;
    border-color: white;
    color:white;
    font-family:Arial;
}

#particle {
  background-color: transparent !important;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
  
}

#overlay {
  position:relative;

}

.pagination a li.active {
  color: #fff;
}

rect {
  fill-opacity:0;
}

line {
  stroke: aquamarine;
}

img {
    max-height: 100%;
    max-width: 100%;
}

