@import "jquery-ui.min";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "fullcalendar";
@import "users";

body {
	background-color: #F7F7F7;	
	overflow-x: hidden;
}



@media screen and (min-width: 1200px) {
    .container {
		margin: 10% 0% 0% 6%; 
		width:90%;
	}
}
@media screen and (max-width: 1200px) {
    .container {
		margin: 20% 0% 0% 18%; 
		width:70%;
	}
}