@import "jquery-ui.min";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fullcalendar";
@import "font-awesome";
@import "pages";
@import "users";
@import "leaves";


body {
	overflow-x: hidden;	
	font-family: 'Muli', sans-serif;
	background-color: white;

}

.page-header{

	padding-bottom:9px;
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
}

.wrapper {
	padding: 0 50px;
	min-height: 568px;
	margin: 20px 0 0 100px;
}

@media screen and (min-width: 768px) {
    .wrapper {
    	position:inherit;
    	margin: 20px 0 0 100px;
    	padding: 0 100px;
	}
}


.action{
	border:1px solid #eee;
    padding: 10px;
    text-align: center;
    height: 60px;
}
