
body, html {
    height: auto; 
     width: 100%;  
     min-width: 100%;
      margin-left: 0;
      margin-right: 0;

}

.pf {
margin:auto; 
text-align: center; 
margin: 250px;
}

#lineup-text {
    color: white;
    font-family: 'Yesteryear', cursive;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    font-size:100px;
}

.features {
    display:inline;
    text-align:center;
    padding-top:20px;
    margin:auto;
}

.heading { 
color: orange;
 margin: auto;
  text-align: center;
  font-size:100px;
}

.feature-h1 {
margin:auto; font-size: 70px; text-align: center;
 font-family: 'Yesteryear', cursive;
}

.fa {
	position: relative;
	display: table-cell;
	width: 60px;
	color: grey;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size:20px;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.parallax {

    /* Full height */
    height: 100%; 
    text-align: center;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

#parallax5 {
    background-image: image-url('/assets/background1.jpg') !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax6 {
    background-image: image-url('/assets/background3.jpg') !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul > btn {  
    margin:auto;
    display:inline;
    text-align:center;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #FFB6C1;
}

.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: orange;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .1s;
    background-image: none;
    text-shadow: none;
    border-width: 2px;
    border-radius: 10px;
}

nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   border:none !important;
}

.navbar-inverse {
    background-color: transparent;
  
}

nav.navbar.transparent {
  background-color:transparent;
}

.footer-fa {

float:left; 

}

#footer ul{
  list-style: none !important;
}

#footer li{
  display: inline;
}

