  <div id="header" >
  <div class="area"></div>
    <nav class="main-menu" style= "position:fixed">
    <div>
        <a class="navbar-brand" href="/user_dashboard"><img src="/assets/lineupsmall.png" , alt="lineup" /></a>
    </div>
    <br>
       <ul>
       <li><p style="color:orange; font-size: 17px; text-align: left; font-family: 'Pacifico', cursive;">LineUP</p></li>

    <br><br>
           <li>
               <%=link_to user_path(current_user) do%>
                   <i class="fa fa-home fa-2x"></i>
                   <span class="nav-text">
                       Dashboard
                   </span>
               <%end%>
             
           </li>
           <li>
               <a href="/leaves/new">
                   <i class="fa fa-table fa-2x"></i>
                   <span class="nav-text">
                       Apply Leaves
                   </span>
               </a>
           </li>
        
           <li class="has-subnav">
               <a href="/users/<%=current_user.id%>/pending">
                  <i class="fa fa-hourglass-half fa-2x"></i>
                   <span class="nav-text">
                       Pendings
                   </span>
               </a>
               
           </li>
           <li class="has-subnav">
               <a href="/users/<%=current_user.id%>/upcoming">
                  <i class="fa fa-plane fa-2x"></i>
                   <span class="nav-text">
                       Approved
                   </span>
               </a>
              
           </li>
           <li>
               <a href="/users/<%=current_user.id%>/history">
                   <i class="fa fa-list fa-2x"></i>
                   <span class="nav-text">
                       History
                   </span>
               </a>
           </li>
           <li>
              <a href="#">
                  <i class="fa fa-calendar fa-2x""></i>
                   <span class="nav-text">
                       Calendar
                   </span>
               </a>
           </li>       
           
       </ul>
      
   </nav>
  </div>