  <div id="header" >
  <div class="area"></div>
    <nav class="main-menu" style= "position:fixed">
    <div>
        <a class="navbar-brand" href="/hr/dashboard"><img src="/assets/lineupsmall.png" , alt="lineup" /></a>
    </div>
    <br><br><br>
       <ul>

       <li><p style="color:orange; font-size: 15px; text-align: center;font-family: 'Cabin';">HR</p></li>
           <li>
               <a href="/hr/dashboard">
                   <i class="fa fa-tachometer fa-2x"></i>
                   <span class="nav-text">
                       HR Dashboard
                   </span>
               </a>
             
           </li>
           <li>
               <a href="/hr/pending_leaves">
                   <i class="fa fa-hourglass fa-2x"></i>
                   <span class="nav-text">
                       Pendings
                   </span>
               </a>
             
           </li>
        
           <li class="has-subnav">
               <a href="/hr/upcoming_leaves">
                  <i class="fa fa-paper-plane-o fa-2x"></i>
                   <span class="nav-text">
                       Approved
                   </span>
               </a>
               
           </li>
           <li class="has-subnav">
               <a href="/leaves">
                  <i class="fa fa-history fa-2x"></i>
                   <span class="nav-text">
                       History
                   </span>
               </a>
              
           </li>
           <li>
               <a href="/users">
                   <i class="fa fa-male fa-2x"></i>
                   <span class="nav-text">
                       Employees
                   </span>
               </a>
           </li>
           <li><p style="color:orange; font-size: 15px; font-family: 'Cabin';text-align: center; margin:10px;">Personal</p></li>
           
           <li>
               <%=link_to user_path(current_user) do%>
                   <i class="fa fa-home fa-2x"></i>
                   <span class="nav-text">
                       My Dashboard
                   </span>
               <%end%>
             
           </li>
           <li>
               <a href="/leaves/new">
                   <i class="fa fa-table fa-2x"></i>
                   <span class="nav-text">
                       Apply Leaves
                   </span>
               </a>
           </li>
           <li class="has-subnav">
               <a href="/users/<%=current_user.id%>/pending">
                  <i class="fa fa-hourglass-half fa-2x"></i>
                   <span class="nav-text">
                       My Requests
                   </span>
               </a>
               
           </li>
           <li class="has-subnav">
               <a href="/users/<%=current_user.id%>/upcoming">
                  <i class="fa fa-plane fa-2x"></i>
                   <span class="nav-text">
                       My Upcoming
                   </span>
               </a>
              
           </li>
           <li>
               <a href="/users/<%=current_user.id%>/history">
                   <i class="fa fa-list fa-2x"></i>
                   <span class="nav-text">
                       My History
                   </span>
               </a>
           </li>
           <li>
              <a href="/calendar">
                  <i class="fa fa-calendar fa-2x"></i>
                   <span class="nav-text">
                       Calendar
                   </span>
               </a>
           </li>     
           
       </ul>
      
   </nav>
  </div>