  <div id="header" >
  <div class="area"></div>
    <nav class="main-menu" style= "position:fixed">
    <div>
        <a class="navbar-brand" href="/"><img src="/assets/lineuplogo.png" , alt="lineup" /></a>
    </div>
    <br><br><br><br><br>
       <ul>
           <li>
               <a href="/hr/dashboard">
                   <i class="fa fa-home fa-2x"></i>
                   <span class="nav-text">
                       Dashboard
                   </span>
               </a>
             
           </li>
           <li>
               <a href="/hr/pending_leaves">
                   <i class="fa fa-hourglass-half fa-2x"></i>
                   <span class="nav-text">
                       Requests
                   </span>
               </a>
             
           </li>
        
           <li class="has-subnav">
               <a href="/hr/upcoming_leaves">
                  <i class="fa fa-plane fa-2x"></i>
                   <span class="nav-text">
                       Upcoming
                   </span>
               </a>
               
           </li>
           <li class="has-subnav">
               <a href="/leaves">
                  <i class="fa fa-list fa-2x"></i>
                   <span class="nav-text">
                       History
                   </span>
               </a>
              
           </li>
           <li>
               <a href="/users">
                   <i class="fa fa-user-circle fa-2x"></i>
                   <span class="nav-text">
                       Employees
                   </span>
               </a>
           </li>
           <li>
              <a href="#">
                  <i class="fa fa-calendar fa-2x"></i>
                   <span class="nav-text">
                       Calendar
                   </span>
               </a>
           </li>       

       </ul>
      
   </nav>
  </div>